{% extends "base.html" %} {% block title %}About{% endblock %}
{% block content %}
<br />
<div class = "page-header">
    <h1 align="center">
        About The Tool
    </h1>
    <p align="center"> Gender de-biasing tool for Software Engineering Job adverts</p>
 </div>

<div class="container">
    <br />
    <div class="row">
      <div class="col-sm">
        <h5>Sed ut perspiciatis</h5>
        <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
        <br />
        <h5>Sed ut perspiciatis</h5>
        <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
        <br />
        <h5>Sed ut perspiciatis</h5>
        <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
      </div>
      <div class="col-sm">
        <img src="https://cdn.dribbble.com/users/2217210/screenshots/12205457/media/c2a7d0d3b8d33c298b1e17de263eb7a5.jpg?compress=1&resize=400x300" class="h-200 w-100" alt="Responsive image">
      </div>
    </div>
  </div>

{% endblock %}